@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */
header {
    width: 100%;
    border-bottom: 1px solid #000000;
    position: absolute;
}

header .inner {
    width: 1180px;
    height: 230px;
    margin: 0 auto;
    position: relative;
}

header .inner h1 {
    position: absolute;
    left: 452px;
    bottom: 120px;
}

header .inner h1 a {
    font: bold 24px/1 "arial";
    color: #000000;
}

header .inner .util{
    position:absolute;
    right: 30px;
    top: 30px;
}
header .inner .util li {
    float: left; 
    position: relative;
}

header .inner .util li a {
    display: block;
    font: 12px/1 "arial";
    color: #000;
    padding: 0px 10px;
}
header .inner .menu{
    position: absolute;
    bottom: 0px;
    left: 133px;
}
header .inner .menu li{
    float: left;
}
header .inner .menu li a {
	display: block; 
	font: bold 15px/1 "arial";
	color: #000000;
	padding: 20px 60px;
	transition: all 0.5s;
}
header .inner .menu li a:hover {
	background: #333;
	color: #ffffff;
}

/* figure */
figure {
    width: 1180px;
    margin: 0px auto;
    padding-top: 290px;
}
figure .board {
    width: 1180px;
    line-height: 45px;
    position: relative;
}
figure .board h1 {
    width: 190px;
    line-height: 45px;
    border-bottom: 1px solid #000;
    text-align: center;
    float: left;
}

figure .board .search {
    position: absolute;
    right: 10px;
    padding: 1px 50px;
    
}
figure .board .search form{
    font: bolder 18px/1 "arial";
    color: #000;
}

figure .board .search input{
    padding: 6px 13px;
    border-radius: 8px 8px 8px 8px;
}

figure .board .search button:hover{
    background-color: #999;
} 
 
figure .board .title {
    width: 1000px;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    margin-left: 90px;
    margin-right: 90px;
    
}
figure .board .title li{
    font: bold 17px/1 "arial";
    color: #000;
}

figure .board .notice{
    width: 100px;
    
    margin-left: 90px;
    margin-right: 90px;
}
figure .board .notice li {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font: bold 16px/1 "arial";
    color: #000;
}
figure .board .notice li a {
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}
figure .board .post {
    position: absolute;
    right:30px;
    margin-top: 70px;

    display: block;
    width: 60px;
    height: 40px;

    text-align: center;
    line-height: 40px;
    margin-right: 30px;
    background-color: #ddd;
    color: #000;

    border-radius: 10px 10px 10px 10px;
    cursor: pointer;

}
figure .board .post:hover{
    background-color: #eee;
}

/* footer */
footer{
    width: 100%;
    margin-top: 200px;
    background-color: #333;
    padding: 80px 0px;
    border-top:1px solid #888 ;
}
footer .inner {
    width: 1180px;
    margin: 0px auto;
}
footer .inner .upper{
	width: 100%;
	border-bottom: 2px solid #777 ;
	padding-bottom: 30px;
}
footer .inner .upper h2 {
    color: #888;
    text-align: center;
}
footer .inner .upper ul li{
    color: #888;
    float: right;
}
footer .inner .under {
    width: 100%;
    padding-top:30px;

}
footer .inner .under h2 {
    color: #888;
    float: right;
}
footer .inner .under ul li{
    color: #888;

}
